<div id="footerwrap">
	<div id="footer">
		<div class="one">
			<h3>Contact</h3>
			<ul>
				<li><a href="mailto:collectiverealms@gmail.com">email</a></li>
				<li><a href="https://github.com/collectiverealms">github.com/collectiverealms</a></li>
			</ul>
		</div>
		<div class="two">
			<h3>Browse By</h3>
			<ul>
				<li>Cat A</li>
				<li>Cat B</li>
				<li>Cat C</li>
			</ul>
		</div>
		<div class="three">
			<img src"https://github.com/collectiverealms/collectiverealms/blob/master/assets/logo.png?raw=true" alt="Logo">
		</div>
		
		  
				  
	</div>
</div>
