<div id="leftcolumnwrap">

          <div id="leftcolumn">
                    <h3>READ ALL ABOUT IT</h3>
                    <h4>The Guild attacked by Black Knight!</h4>
                    <h4>Portals, Tane, and an Archfey, is the world ending after all?</h4>
                    <h4><a href="https://collectiverealms.com/news/2018-07-01-Evil-Romance">Evil Romance Upon the Astral Sea?</a></h4>
                    <h4><a href="https://collectiverealms.com/news/2018-08-22-Strange-Lights-Spotted.html">Strange Lights Spotted in the Skies of Planes: Is the End Nigh?</a></h4>
        </div>
</div>
        
