<div id="leftcolumnwrap">
          <div id="leftcolumn">
                    <h3>READ ALL ABOUT IT</h3>
                    <h4>Strange man spotted near well,</h4>
                    <p>is he thirsty or is he poisioning us all?</p>
                    <h4>Dragons spotted near dragon rider</h4>
                    <p>to the surprise of nobody...</p>
                    <h4>The gods have forsaken us,</h4>
                    <p>find out why here!</p>
                    <h4>Heretics in my temple?</h4>
                    <p>Its more likely than you think</p> 
        </div>
</div>
        
