 <div id="rightcolumnwrap">
        <div id="rightcolumn">
                <h3>Follow Us On</h3>
                <a href="https://twitter.com/CollectiveRealm"><img src="https://github.com/collectiverealms/collectiverealms/blob/master/assets/media-logos/twitter.png?raw=true" class="logo" alt="Twitter Logo"></a>
                <a href="https://collectiverealms.tumblr.com/"><img src="https://github.com/collectiverealms/collectiverealms/blob/master/assets/media-logos/tumblr-logo.png?raw=true" alt="Tumblr Logo" class="logo"></a>
            
                <h3>Find the Collective</h3>
            <p><a href="http://weareadventurers.tumblr.com/">ON TUMBLR</a></p>
            <p><a href="https://weareadventurers.wikia.com/wiki/We_Are_Adventurers_Wiki">ON WIKIA</a></p>
            
            <h3>Twitter Feed</h3>
            <div class="twitter"><a class="twitter-timeline" href="https://twitter.com/CollectiveRealm?ref_src=twsrc%5Etfw">Tweets by CollectiveRealm</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></div>
         </div>
  
    
</div>
        
